<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>20/04/09 11:39:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@13deb50e]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/09 11:39:15</td>   <td>-11992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.ElAguanteCheck()[pri:1, instance:test.Test01Suscripcion@13deb50e]">ElAguanteCheck</td> 
  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/09 11:39:06</td>   <td>-20719</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@13deb50e]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>20/04/09 11:39:25</td>   <td>-1938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@13deb50e]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
</table>
